<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Farm CRUD Mobile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="list-outline" slot="start"></ion-icon>
      <ion-card-title>All Crops</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let note of notes" (click)="openNote(note)">
          <ion-icon name="document-outline" slot="start"></ion-icon>
          <ion-label>{{ note.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNote()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
